*{
	margin:0;
	padding: 0;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: aquamarine;
	font-family: Georgia;
}
.container{
	background-color: grey;
	width: 320px;
	height: 500px ;
	padding:30px;
	border-radius: 30px;
}
.head h1{
	font-size: 2.5rem;
	font-weight: bolder;
}
.head p{
	margin-top: 8px;
}
.btn{
	margin-top: 30px;
}
.btn button{
	width: 100%;
	margin-bottom: 10px;
	padding: 15px 0;
	text-transform: uppercase;
	background: linear-gradient(90deg, green, blue);
	border: none;
	border-radius:8px;
}
.btn span{
	font-weight: bold;
	margin-top: 30px;
}
.list{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
.list span{
	font-weight: bold;
}
.list p::before{
	content:"*";
}
.list p span, .list p:last-child{
	text-decoration: underline;
}
.zip{
	margin-top: 15px;
	background-color: aquamarine;
	padding: 10px;
	border-radius: 8px;
}
.zip .input-container{
	margin-top: 8px;
	display: flex;
	gap: 10px;
}
.input-container .input input{
border: none;
outline: none;
background-color: transparent;
}
.input-container .input {
	display: flex;
	align-items: center;
	border: 1px solid black;
	padding: 8px 10px;
}
.input-container button{
	background-color: green;
	padding: 0 20px;
	border: none;
	border-radius: 8px;
}
.p {
	width: 100%;
	margin-bottom: 10px;
	padding: 15px 0;
	text-transform: uppercase;
	background: linear-gradient(90deg, green, blue);
	border: none;
	border-radius:8px;
	margin-top: 30px;
}